<ion-header appdirbuttons>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle Sensor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div  id="highcharts" style="width:100%; height:300px;"></div>
    
    <ion-button  (click)="abrirElectrovalvula()" expand="block" appdirbuttons >Abrir Electroválvula</ion-button>
    <ion-button  (click)="Mediciones()" expand="block"  appdirbuttons>Ver Mediciones</ion-button>
    <ion-button  expand="block"  appdirbuttons>Ver Log Riegos</ion-button>
    
</ion-content>
